<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.lavgeo.wordlearningapp">
    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
           >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListLearningModesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Выберете режим обучения">
        </activity>
        <activity android:name=".LearningModeImageFirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Images first learning mode">
        </activity>
        <activity android:name=".LearningModeTextFirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Images first learning mode">
        </activity>
        <activity android:name=".TestModeImageFirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Images first test mode">
        </activity>
        <activity android:name=".TestModeTextFirstActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Text first test mode">
        </activity>
        <activity android:name=".TestModeAudioActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Audio test mode">
        </activity>
        <activity android:name=".TestModeTranslationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation"
            android:label="Tranlation test mode">
        </activity>


    </application>

</manifest>